name: Test tap-pokemon

on: [push]

permissions:
  contents: read

env:
  FORCE_COLOR: 1

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      SETUPTOOLS_USE_DISTUTILS: stdlib
      PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/requirements.txt
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ">=0.4.18"
    - run: uvx tox -e $(echo py${{ matrix.python-version }} | tr -d .)
